<script lang="ts">
    import { Luhn } from "$lib/luhn"


    let number = ""
    $: valid = number === "" ? "" : Luhn.valid(number) ? "valid number" : "invalid number"
</script>

<svelte:head>
    <title>Credit card number checker</title>
</svelte:head>

<div class="container">
    <h1>Credit card number checker</h1>
    <p>Check a credit card number for validity using
        <a href="https://en.wikipedia.org/wiki/Luhn_algorithm" title="See Wikipedia page">Luhn algorithm</a></p>

    <input bind:value={number} placeholder="type a credit card number...">
    <p>{ valid }</p>
</div>

<style>
h1 {
	font-size: 2rem;
	margin-bottom: 0 0 1em 0;
}

div.container {
    text-align: center;
}
</style>